[submodule "buildroot-external/board/lichee/overlay/media/fat"]
	path = Distribution_MiSTeX
	url = https://github.com/MiSTeX-devel/Distribution_MiSTeX
[submodule "rpi-zero/buildroot"]
	path = rpi-zero/buildroot
	url = https://github.com/buildroot/buildroot.git
