BR2T_NAME := misty

BR2T_BR_URL := https://gitee.com/weidongshan/neza-d1-buildroot
BR2T_VERSION := lichee

BR2T_EXTERNAL := buildroot-external

BR2T_DEFCONFIG := misty

# Leave empty if recovery is not needed
# BR2T_RECOVERY_DEFCONFIG := misty_recovery

# BR2T_SWDESCRIPTION := board/custom/sw-description

#BR2T_IMAGE_FILES := "out/$(BR2T_DEFCONFIG)/images/u-boot.bin:/" \
#			"out/$(BR2T_DEFCONFIG)/images/versatile-pb.dtb:/" \
#			"out/$(BR2T_DEFCONFIG)/images/rootfs.ext2:/" \
#			"out/$(BR2T_DEFCONFIG)/images/zImage:/" \
